[submodule "src/ResultEnvelope"]
	path = src/ResultEnvelope
	url = https://github.com/maxtoroq/ResultEnvelope.git
[submodule "submodules/sandcastle-md"]
	path = submodules/sandcastle-md
	url = https://github.com/maxtoroq/sandcastle-md.git
