body {
   font-size: .85em;
   font-family: "Trebuchet MS" , Verdana, Helvetica, Sans-Serif;
   color: #232323;
   background-color: #fff;
}

header, footer, nav, section {
   display: block;
}

/* Styles for basic forms
-----------------------------------------------------------*/

fieldset {
   border: 1px solid #ddd;
   padding: 0 1.4em 1.4em 1.4em;
   margin: 0 0 1.5em 0;
}

legend {
   font-size: 1.2em;
   font-weight: bold;
}

textarea {
   min-height: 75px;
}

.editor-label {
   margin: 1em 0 0 0;
}

.editor-field {
   margin: 0.5em 0 0 0;
}

/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
   color: #ff0000;
   display: block;
   margin-bottom: .5em;
}

.field-validation-valid {
   display: none;
}

.input-validation-error {
   border: 1px solid #ff0000;
   background-color: #ffeeee;
}

.validation-summary-errors {
   font-weight: bold;
   color: #ff0000;
}

.validation-summary-valid {
   display: none;
}

/* MvcAccount
-----------------------------------------------------------*/
.form { display: table-row-group; }
.form > div { display: table-row; }
.form > div > div { display: table-cell; padding: .2em .5em; }

.form label[for]:after { content: ":"; }
.form .buttons { padding-top: 1em !important; }

.sign-in .form > div > div:first-child { text-align: right; }