@using HtmlUtility = MvcAccount.Web.HtmlUtility;
@model MvcAccount.Web.IndexViewModel
@section head {
<title>@Model.Title</title>
}
<div class="@Model.ViewCssClass">
   <h1>@Model.Title</h1>
   <ul>
      @foreach (var item in Model.Links) {
         <li>@HtmlUtility.Link(item)</li>
      }
   </ul>
</div>