@model MvcAccount.Password.Reset.VerificationSentViewModel
@section head {
<title>@Model.Title</title>
}
<div class="password-reset-verification-sent">
   <h1>@Model.Title</h1>
   <p>@Html.Raw(Model.Message)</p>
</div>