@model MvcAccount.ViewModels.EmailSavedViewModel
@section head {
<title>@Model.Title</title>
}
<div class="email-saved">
   <h1>@Model.Title</h1>
   <p>@Model.Message</p>
   <p>
      @MvcAccount.HtmlUtility.Link(Model.NextLink)
   </p>
</div>