@model MvcAccount.ViewModels.PasswordResetViewModel
@section head {
<title>@Model.Title</title>
}
<div class="password-reset">
   <h1>@Model.Title</h1>
   <p>@Model.Message @MvcAccount.HtmlUtility.Link(Model.NextLink).</p>
</div>