@if (ViewData.TemplateInfo.TemplateDepth > 1) { 
   @ViewData.ModelMetadata.SimpleDisplayText
} else {
   foreach (var prop in ViewData.ModelMetadata.Properties.Where(pm => pm.ShowForEdit && !ViewData.TemplateInfo.Visited(pm))) {
      if (prop.HideSurroundingHtml) { 
         @Html.Editor(prop.PropertyName)
      } else {
         string templateName = prop.TemplateHint ?? prop.DataTypeName;
         
         /* Omit password value for security reasons */
         var editor = (templateName == "Password") ?
            Html.Password(prop.PropertyName, null, new { @class = "text-box single-line password" })
            : Html.Editor(prop.PropertyName, templateName);
         
         if (!MvcHtmlString.IsNullOrEmpty(editor)) {
            bool isBool = prop.ModelType == typeof(bool);
            string labelText = prop.Description ?? prop.GetDisplayName();
         <div>
            <div>@(!isBool ? Html.Label(prop.PropertyName, labelText) : null)</div>
            <div>
            @if (isBool) {
               <label>
                  @editor
                  @labelText
               </label>
            } else {
               @editor
            }
               @Html.ValidationMessage(prop.PropertyName)
            </div>
         </div>
         }
      }
   }
}